<% i=1; %>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-11-desktop stretch-card">
        <div class="mdc-card p-0 to-do-list">
          <div class="d-flex bg-primary text-white to-do-list-header">
            <h4 class="card-title">Productos</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-hoverable">
              <thead>
                <tr class="bg-primary">
                  <th class="text-center text-white">Id</th>
                  <th class="text-center text-white">Nombre</th>
                  <th class="text-center text-white">Marca</th>
                  <th class="text-center text-white">Id_Categoría</th>
                  <th class="text-center text-white">Descripcion</th>
                  <th class="text-center text-white">Url_Fabricante</th>
                  <th class="text-center text-white">Editar</th>
                  <th class="text-center text-white">Borrar</th>
                </tr>
              </thead>
              <tbody>
                <% productos.forEach(function(producto) { %>
                  <tr>
                    <!--<td><%= i %></td>-->
                    <td class="text-left">
                      <%= producto.id %>
                    </td>
                    <td class="text-left">
                      <%= producto.nombre %>
                    </td>
                    <td class="text-left">
                      <%= producto.marca %>
                    </td>
                    <td>
                      <%= producto.id_categoria %>
                    </td>
                    <td class="text-left">
                      <%= producto.descripcion %>
                    </td>
                    <td class="text-left">
                      <%= producto.url_fabricante %>
                    </td>
                    <td>
                    <a href="/productos/edit/<%= producto.id %>"
                      class="mdc-button mdc-button--raised filled-button--info">
                      <i class="material-icons">edit</i>
                    </a></td>
                    <td><a href="productos/delete/<%= producto.id %>"
                        class="mdc-button mdc-button--raised filled-button--secondary">
                        <i class="material-icons">delete</i>
                      </a></td>
                  </tr>
                  <% i++}); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>